

<h1 class = "l-heading">welcome <%= @user.name%> </h1><br>


<section id="article">
<div id ="post-container">
<div class = "page-container">
<table style="width:100%">
<tr>
    <th>Title</th>
    <th>Content</th> 
    <th>Create date</th>
    <th>Action</th>
</tr>
<% @post.each do |p|%>
<tr>
    <th><%= p.title%></th>
    <th><%= p.content%></th> 
    <th> <%= p.created_at%></th>
    <th><a  href="/post/<%= p.id%>">View post</a></th>
  </tr>
  <% end%>

</table>

<aside class="bg-primary">
    <div class="user-info">
        <p><a  id = "create" href= "/post/new"> Create a new Post</a>
    </div>
</aside>
<div>
</div>
</section>