
<div class= "container">
<h1>welcome <%= @user.name%> </h1><br>

<h3><%= @total_post %> Posts created in the last few days </h3>

<h3><a href="/logout"> Log out</a></h3> <br>

<div class ="post">
<% @post.each do |p|%>
<a href="/post/<%= p.id%>">
<h4><%= p.title%><br></h4>
<p> <%= p.content%><br> </p>
<p>created : <%= p.created_at%><br> </p>
<p>updated : <%= p.updated_at%><br> </p>
</a>
<% end%><br>

</div>
<p><a href= "/post/new"> Create a new Post</a>
</div>